.Menu {
  position: fixed;
  z-index: -100;
  opacity: 0;
  width: 25vw;
  height: 20vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 500%);
  background-color: rgba(255, 255, 255, 0.25);
  transition: .5s ease-out;
}

.Open {
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 100%;
}

.Btn {
  background-color: blue($color: #000000);
}
