.GameGrid {
  width: 80%;
  height: 80vh;
  background-color: cadetblue;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(20, [col] calc(100% / 20));
  grid-template-rows: repeat(20, [row] calc(100% / 20));
}
