*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

button {
    cursor: pointer;
    transition: all .3s ease;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(
      180deg,
      rgba(15, 78, 255, 0.28),
      rgba(253, 50, 50, 0.69)
    ),
    url(assets/bg.jpg);
}
