.StatusBar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(49, 49, 49, 0.25);
  color: #fff;
  padding: 25px;
  justify-self: start;
  width: 300px;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 40px;
  margin: 30px;
  padding: 10px;
  height: 75vh;
}
