.StatusBar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(49, 49, 49, 0.25);
  color: #fff;
  padding: 25px;
  justify-self: start;
  width: 300px;
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 40px;
  margin: 30px;
  padding: 10px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
}

.GameInfo {

  & > p {
    margin-bottom: 0.7rem;
  }
}

.HighScore {
  background-color: rgba(#424344, 0.75);
  padding: 3rem 0;
  border-radius: 1rem;

  &__Heading {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
  }

  &__Body {
    padding: 0 2rem;
  }

  &__ScoreInfo {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(rgb(184, 182, 182), 0.2);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
  }
}
